@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background: linear-gradient(rgba(255,255,255,.2),
    rgba(255,255,255,.2)),
    url("assets/earth.gif"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}
p>a{
    color:rgba(139, 92, 182, 0.853);
}

.light-mode {
    background-color: rgb(240, 240, 240);
    color: black;
}
.light-mode div button{
    background-color: rgb(217, 217, 235);
}
.light-mode div section{
    color:black;
}
.light-mode nav button{
    background-color: rgb(240, 240, 240);
}


.dark-mode {
    background-color: rgb(13, 13, 13);
    color: rgb(248, 248, 248);
}

.dark-mode nav a:hover,.dark-mode nav button:hover{
    background-color: rgb(58, 58, 58);
}

.dark-mode div button,.dark-mode div section{
    background-color: rgb(50, 50, 57);
    color: rgb(248, 248, 248);
}
.dark-mode nav button{
    background-color: rgb(13, 13, 13);
}
.dark-mode .tooltip{
    background-color: rgb(38, 38, 41);
}